body {
    
    background-color: antiquewhite;
}




div#banner{
	postion:center;
	background: url("pobrane.jfif") 50% no-repeat ;
	position: absolute;  
	top: 20px;
	width: 700px;
	height: 235px;
    position: relative;
       box-shadow: 10px 10px 15px 5px rgba(0,0,0,0.75);
    background-color: beige;
    
}

div#aaa
{
	position:center;
    position: absolute; 
	top: 300px;
	left: 375px;
	border-top: 5px dotted gray;
    border-bottom:  5px dotted grey;
	width: 700px;
	padding: 10px;
    background-color: beige;
    text-align: center;
    font-family: cursive;
    color: brown;
}
div#bbb{
    position:center;
    position: absolute; 
	top: 650px;
	left: 375px;
	border-top: 5px dotted gray;
    border-bottom:  5px dotted grey;
	width: 700px;
	padding: 10px;
    background-color: beige;
}
